body {
	font-family: 'Sintony', sans-serif;
	color: #5c6369;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.menu {
	margin-top: 26px;
}

.yellow {
	color: #fea100;
}

.menu__item {
	font-weight: 700;
	font-size: 14px;
}

.menu__item a {
	color: #2c465a;
	text-transform: uppercase;
}

.login {
	background: #fea100;
	color: white;
	font-size: 14px;
	font-weight: 700;
	border-radius: 3px;
	text-transform: uppercase;
	padding: 10px 0;
	cursor: pointer;
	width: 150px;
	border: none;
}

.main-header {
	z-index: 1;
	height: 75px;
	width: 100%;
	background: #fdfdfd;
	position: fixed;	
}

.login {
	margin-top: 16px;
	margin-left: 200px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif; 
	font-weight: 700;
	color: black;
}

.offer {
	background: url(../background/offer.jpg) no-repeat fixed center top;
	background-size: 100%;
}

.title {
	padding: 200px 0;
}

.title__heading {
	margin-top: 60px;  
	font-size: 46px;
	color: white; 
}

.title__desc {
	font-weight: 700;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	color: white;
	margin-top: -15px;  
}

.countries {
	background: #edf1f3;
	border-bottom: 1px solid #dde3e7;
	padding: 30px 0;
}

.phone {
	width: 680px;
}

.phone__text {
	background: url(../background/phone.png) no-repeat left center;
	color: #14141d;
	font-size: 15.3px;
	text-transform: uppercase;
	font-weight: 700;
	width: 400px;
	padding-left: 56px;
	padding-top: 5px;
}

.phone__text span {
	font-size: 16px;
	margin-top: -4px;
	display: block;
}		 	

.phone_characters {
	font-size: 28px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: #14141d;
	margin-left: 42px;
	padding-top: -20px;
}